:root
{
    --dark-color: rgba(0,0,0,0.7);
    --accent-color: rgba(78,155,255);
    --green-color: #829900;
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
}

h1
{
    font-size: 28px;
    text-align: center;
}

img
{
    width: 100%;
}

input, button
{
    padding: 10px 25px;
    margin: 5px;
    border: 2px solid grey;
    font-size: 16px;
    color: var(--dark-color);
}

button
{
    cursor: pointer;    
}

input.form-input, button.form-button
{
    width: 100%;
}

button.form-button
{
    background: rgb(29, 31, 49);
    border: 2px solid rgb(29, 31, 49);
    color: white;   
}

button.form-button:hover
{
    background: white;
    border: 2px solid rgb(29, 31, 49);
    color: rgb(29, 31, 49);
}


input:focus, input:active, input:hover
{
    border: 2px solid var(--accent-color);
    border-radius: none;
}

.mid-form-size
{
    width: 100%;
    max-width: 650px;
}

.center
{
    margin: 0 auto;
}

.container
{
    padding: 2em 10%;
}

.container-fluid
{
    padding: 0;
    width: 100%;
}

.row
{
    display: flex;
    flex-wrap: nowrap;  
}

.full-width
{
    flex-grow: 1;
}

.btn
{
    padding: 0.8em 3em;
    border: 2px solid #f2f2f2;
    cursor: pointer;
}

.btn-dark
{
    background: var(--dark-color);
    border: 2px solid var(--dark-color);
    color: #fff;
}

.btn-dark:hover
{
    border: 2px solid var(--dark-color);
    background: #fff;
    color: var(--dark-color);
}

.header
{
    background: #f2f2f2;
    padding: 1.5em;
}

.header a
{
    text-decoration: none;
    color: var(--dark-color);
}

.navigation-links
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px;
}

.navigation-links li
{
    list-style: none;
    margin: 0 10px;
}

.navigation-links a
{
    text-decoration: none;
    color: var(--dark-color);
}

.navigation-links a:hover
{
    text-decoration: underline;
}

.search-bar
{
    padding: 2em;
}

.book-collection
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.book-module
{
    max-width: 30%;
    padding: 2em 1em 2em 1em;
    box-shadow: 0px 0px 18px 0px#d6d6d6;
    height: 550px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.book-image img
{
    width: 200px;
}

.book-body
{
    margin: 15px 0;
}

.book-body h2
{
    font-size: 18px;
}

.book-body p 
{
    margin: 10px 0;
}

.book-footer
{
    margin:15px 0;
}

.book-footer button
{
    background: var(--green-color);;
    color: #fff;
    border: 1px solid var(--green-color);
}

.book-footer button:hover
{
    border: 1px solid var(--green-color);;
    background: #fff;
    color: var(--green-color);;
}

.book-btn
{
    padding: 0.8em 1em;
    border: 2px solid #f2f2f2;
    cursor: pointer;
}

.login h1
{
    padding:2em 0;
}

.sign-up h1
{
    padding:2em 0;
}